@import helper._

@(userId: String)(implicit webJarAssets: WebJarAssets)
@main("Your Account")("Your Account")("View your account details"){
    <div id="userId">
        Your user identification code is <b>@userId</b>
    </div>

    <button type="button" class="btn btn-danger navbar-right" data-toggle="modal" data-target="#myModal">
        Delete your account
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirm you want to delete your account</h4>
                </div>
                <div class="modal-body">
                    Once your account is deleted it cannot be recovered
                </div>
                <div class="modal-footer">
                    @form(action = routes.AccountController.deleteUser(), 'id -> "deleteUserForm", 'class -> "navbar-form navbar-right") {
                    <div class="form-group">
                        <input type="submit" name="delete" class="btn btn-danger" value="Delete your account"/>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
