@import helper._

@(changePasswordForm: Form[(String, String, String)])(implicit webJarAssets: WebJarAssets, messages: Messages, rh: RequestHeader)
@main("Change Password")("Change your password")(""){
@form(action = routes.ChangePasswordController.changePasswordPost, 'id -> "changePasswordForm", 'class -> "navbar-form") {
<div class="form-group">
    @CSRF.formField
    @inputText(changePasswordForm("oldPassword"), '_showErrors -> false, 'class -> "form-control", '_label -> "Old password", '_help -> "This field is required")
    @inputText(changePasswordForm("newPassword"), '_showErrors -> false, 'class -> "form-control", '_label -> "New password", '_help -> "This field is required")
    @inputText(changePasswordForm("newPasswordConfirm"), '_showErrors -> false, 'class -> "form-control", '_label -> "Confirm your new password", '_help -> "This field is required", '_help -> "This field is required")
    <input type="submit" id="submit" name="submit" class="btn btn-default"/>
</div>
}
@if(changePasswordForm.hasErrors) {
<div class="alert-message error">
    <p>Please correct the following:</p>
    <ul>
        @changePasswordForm.errors.map { error =>
        <li>@Messages(error.message, error.key)</li>
        }
    </ul>
</div>
}
}
