@import helper._

@(accountForm: Form[models.User])(implicit webJarAssets: WebJarAssets, messages: Messages)
@main("Create Account")("Create a new account")("Make a new account to access more services"){
    @form(action = routes.CreateAccountController.createPost(), 'id -> "createAccountForm", 'class -> "navbar-form") {
        <div class="form-group">
            @inputText(accountForm("userId"), '_showErrors -> false, 'class -> "form-control", '_label -> "User ID", '_help -> "This field is required")
            @inputText(accountForm("password"), '_showErrors -> false, 'class -> "form-control", '_label -> "Password", '_help -> "This field is required")
            <input type="submit" id="submit" name="submit" class="btn btn-default"/>
        </div>
    }
    @if(accountForm.hasErrors) {
    <div class="alert-message error">
        <p>Please correct the following:</p>
        <ul>
            @accountForm.errors.map { error =>
                @error.message match {
                    case "login.validation.topology" => { <li>@Messages(error.message, error.key)</li>
                        <div class="alert-message error">
                            <h4>@Messages("login.validation.topology.help.header")</h4>
                            <p style="font-size:14px;">@Messages("login.validation.topology.help.content")</p>
                        </div>
                }
                    case _ => { <li>@Messages(error.message, error.key)</li> }
                }
            }
        </ul>
    </div>
    }
}
