@import helper._

@(userForm: Form[models.User])(implicit webJarAssets: WebJarAssets, messages: Messages)
@main("Login")("Sign-in to your account")("You must log in to view the page you requested"){
    @form(action = routes.LoginController.loginPost(), 'id -> "loginForm") {
        @inputText(userForm("userId"))
        @inputText(userForm("password"))
        <input type="submit" id="submit" name="submit"/>
    }
    @if(userForm.hasErrors) {
    <div class="alert-message error">
        <p>Please correct the following:</p>
        <ul>
            @userForm.errors.map { error =>
            <li>@Messages(error.message, error.key)</li>
            }
        </ul>
    </div>
    }
}
