@import helper._

@(userForm: Form[models.User], continueUrl: Option[String] = None)(implicit webJarAssets: WebJarAssets, messages: Messages)
@main("Login")("Sign-in to your account")("You must log in to view the page you requested"){
    @form(action = routes.LoginController.loginPost(continueUrl), 'id -> "loginForm", 'class -> "navbar-form") {
        <div class="form-group">
            @inputText(userForm("userId"), '_showErrors -> false, 'class -> "form-control", '_label -> "User ID", '_help -> "This field is required")
            @inputText(userForm("password"), '_showErrors -> false, 'class -> "form-control", '_label -> "Password", '_help -> "This field is required")
            <input type="submit" id="submit" name="submit" class="btn btn-default"/>
        </div>
    }
    @if(userForm.hasErrors) {
    <div class="alert-message error">
        <p>Please correct the following:</p>
        <ul>
            @userForm.errors.map { error =>
            <li>@Messages(error.message, error.key)</li>
            }
        </ul>
    </div>
    }
}
